.white-svg {
  filter: brightness(0) invert(1);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

.storyImage {
  @apply object-cover object-center w-full h-full rounded-xl drop-shadow-2xl shadow-2xl border-red-500 border-opacity-80;
}

.floatAndEnlargeOnHover {
  @apply md:hover:scale-105 md:hover:border-4 md:hover:-translate-y-1;
  transition: 0.2s;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
